*~
#*#

*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

booksbackend/book_library/static/


*key.txt

booksbackend/static/

booksbackend/booksbackend/settings.py
/booksenv
