{% extends 'book_library/base.html' %}
{% block content %}
{% load static %}

<div class="row" style="margin-top: 1em;">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">Add Book</h3>
      </div>
      <div class="panel-body">
	<form action="{% url 'book_library:add_book' %}" method="POST">
	  {% csrf_token %}
	  <input class="form-control" type="text" name="add_book" id="add_book" placeholder="Add book by Bol.com URL">
	  <br>
	  <!-- <button class="btn btn-default float-right" type="submit">Add</button> -->
	</form>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
	<a href="{% url 'book_library:all_books' %}"><h3 class="panel-title">Books ({{ book_list|length }})</h3></a>
      </div>
      <div class="panel-body">
	<div class="list-group">
	  {% if book_list %}
	  {% for book in book_list %}
	  <a class="list-group-item clearfix" href="{% url 'book_library:detail' book.id  %}">
	    <div class="float-right">
	      {% with 'book_library/thumbnails/'|add:book.title|add:'.jpg' as img_static %}
	      <img class="img-rounded img-responsive" alt="Book thumbnail" style="margin-left: 12px;" src="{% static img_static %}"  width="40px">
	      {% endwith %}
	    </div>
	    <small>{{ book.date_added }}</small>
	    <br>
	    '{{ book.title }}'
	    <br>
	    <small> {{ book.authors.all|join:", " }} </small>
	    <br>

	  </a>
	  {% endfor %}
	  {% else %}
	  <p>No books are available.</p>
	  {% endif %}
	</div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">Currently Reading</h3>
      </div>
      <div class="panel-body">
	<div class="list-group">
	  {% for book in book_list %}
	  {% if book.reading %}
	  <a class="list-group-item clearfix" href="{% url 'book_library:detail' book.id  %}">
	    <div class="float-right">
	      {% with 'book_library/thumbnails/'|add:book.title|add:'.jpg' as img_static %}
	      <img class="img-rounded img-responsive" alt="Book thumbnail" style="margin-left: 12px;" src="{% static img_static %}"  width="40px">
	      {% endwith %}
	    </div>
	    <small>{{ book.date_added }}</small>
	    <br>
	    '{{ book.title }}'
	    <br>
	    <small> {{ book.authors.all|join:", " }} </small>
	    <br>
	  </a>
	  {% endif %}
	  {% endfor %}
	</div>
      </div>
    </div>
    <br>
    <div class="panel panel-default">
      <div class="panel-heading">
	<a href="{% url 'book_library:wishlist' %}"><h3 class="panel-title">New on wishlist</h3></a>
      </div>
      <div class="panel-body">
	<div class="list-group">
	  {% for book in wish_list %}
	  <a class="list-group-item clearfix" href="{% url 'book_library:detail' book.id  %}">
	    <div class="float-right">
	      {% with 'book_library/thumbnails/'|add:book.title|add:'.jpg' as img_static %}
	      <img class="img-rounded img-responsive" alt="Book thumbnail" style="margin-left: 12px;" src="{% static img_static %}"  width="40px">
	      {% endwith %}
	    </div>
	    <small>{{ book.date_added }}</small>
	    <br>
	    '{{ book.title }}'
	    <br>
	    <small> {{ book.authors.all|join:", " }} </small>
	    <br>
	  </a>
	  {% endfor %}
	</div>
      </div>
    </div>
    <br>
    <div class="panel panel-default">
      <div class="panel-heading">
	<a href="{% url 'book_library:finished_reading' %}"><h3 class="panel-title">Just finished reading</h3></a>
      </div>
      <div class="panel-body">
	<div class="list-group">
	  {% for book in finished_list %}
	  <a class="list-group-item clearfix" href="{% url 'book_library:detail' book.id  %}">
	    <div class="float-right">
	      {% with 'book_library/thumbnails/'|add:book.title|add:'.jpg' as img_static %}
	      <img class="img-rounded img-responsive" alt="Book thumbnail" style="margin-left: 12px;" src="{% static img_static %}"  width="40px">
	      {% endwith %}
	    </div>
	    <small>{{ book.date_added }}</small>
	    <br>
	    '{{ book.title }}'
	    <br>
	    <small> {{ book.authors.all|join:", " }} </small>
	    <br>
	    <small>Rating: {{ book.score }}/5 </small>
	  </a>
	  {% endfor %}
	</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!-- <!DOCTYPE html> -->
<!-- <html> -->
<!--   <head> -->
<!--     <meta charset="utf-8"> -->

<!--     <title>My Library</title> -->
<!--   </head> -->
<!--   <body> -->
<!--     {% if book_list %} -->
<!--     <ul> -->
<!--       {% for book in book_list %} -->
<!--       <li><a href="{% url 'book_library:detail' book.id  %}">{{ book.title }}</a></li> -->
<!--       {% endfor %} -->
<!--     </ul> -->
<!--     {% else %} -->
<!--     <p>No books are available.</p> -->
<!--     {% endif %} -->
<!--   </body> -->
<!-- </html> -->
